.graph-container {
  flex: 1 1 300px;
  min-width: 300px;
}

.tab-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
}

@media screen and (max-width: 600px) {
  .tab-container {
    flex-direction: column;
  }
  .graph-container {
    width: 100%;
  }
}
