.App {
  text-align: center;
  font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica Neue', Helvetica,
    Arial, 'Lucida Grande', sans-serif;
  min-height: 95vh;
  padding: 1em 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.codebox {
  max-width: 90%;
  max-height: 300px;
  margin: auto;
  overflow-y: scroll;
  /* Used fix the scroll bar issue on iOS devices */
  -webkit-overflow-scrolling: touch;
  text-align: left;
}
